%pseudo {
    content: "";
    display: block;
    position: absolute;
}

%button-base {
    display: inline-block;

    text-decoration: none;
    text-transform: uppercase;
}

%button-base-contact {
    font-size: 14px;
    width: 130px;
    margin: 10px auto 24px;
    padding:10px;
    display: block;
}

%centered {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%trim-string {
    -webkit-line-clamp: 2; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
}

%design-wrap {
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}