//colors

$color-bg: #0c0c0c;
$color-font: #fff;
$color-accent: #0f33ff;
$color-accent-border-top: #172eb1;
$color-accent-border-bottom: #0d195d;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

