@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
@import "~bootstrap/scss/_reboot";

@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities/_flex";
@import "~bootstrap/scss/utilities/_float";
@import "~bootstrap/scss/utilities/_clearfix";
@import "~bootstrap/scss/utilities/_sizing";

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import '~slick-carousel/slick/slick', '~slick-carousel/slick/slick-theme';

@import "_variables";
@import "_base";
@import "_placeholders";

@import "components/_text.scss";
@import "components/_buttons.scss";
@import "components/_header.scss";
@import "components/_page-slider.scss";
@import "components/_work-slider.scss";
@import "components/_page-3-slider.scss";
@import "components/_page-4-slider.scss";
@import "components/_page-5-slider.scss";


