doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Global
    body
      block content
      - console.log(htmlWebpackPlugin.files)
      each js in htmlWebpackPlugin.files.js
        script(type='text/javascript', src=js)
      each css in htmlWebpackPlugin.files.css
        link(rel="stylesheet", href=css)
