extends ../_layouts/home
block header
  header.header
    .container-fluid
      .row.d-flex.justify-content-between
        .col
          a(href="#").header__logo
            img(src=require("../../src/img/header-logo.png").default,alt="header logo")
            span Global
        .col.text-center
          button(type="button").header__hire-button Hire us
        .col
          button(type="button").nav-toggle
            span Toggle menu

block content
  .page-slider--js
    div
      include ../_partials/page1
    div
      include ../_partials/page2
    div
      include ../_partials/page3
    div
      include ../_partials/page4
    div
      include ../_partials/page5