extends ../_layouts/home

block content
  .page-slider--js
    div
      include ../_partials/page1
    div
      include ../_partials/page2
    div
      include ../_partials/page3
    div
      .page-slider__slide 4
    div
      .page-slider__slide 5
