extends ../_layouts/home

block content
  .page-slider--js.page-slider
    div
      .page-slider__slide 1
    div
      .page-slider__slide 2
    div
      .page-slider__slide 3
    div
      .page-slider__slide 4
    div
      .page-slider__slide 5
