.hire-btn {
    @extend %button-base;
    position: relative;

    border: none;

    font-size:14px;
    line-height:1;
    color: $color-font;
    padding: 8px 10px;

    margin-bottom: 98px;

    &::before {
        @extend %pseudo;

        top:0;
        left:10px;
        right: 0;
        bottom: 0;

        background-color: $color-accent;

        z-index:0;

        transition: left .1s linear;
    }

    &:hover {
        color:$color-font;
        
        &::before{
            left:0;
        }
    }

    span,
    svg {
        position: relative;
        z-index:1;

    }
    svg {
        
        margin-left: 15px;
        display: inline-block;
        vertical-align: middle;
        //transform:translateY(-25%);
        //position: relative;
        //bottom: 3px;


    }

}

.career-btn{
    @extend %button-base;
}

.todo-btn {
    display:block;
    background-color: transparent;
    border: 2px solid $color-font;

    text-decoration: none;
    color: $color-font;
    text-align: center;
    

    padding: 10px;
    width: 200px;
   
    cursor:pointer;

    transition: background .2s linear, border .2s linear;
    
    &:hover {
        text-decoration: none;
        color: $color-font;
        background-color: $color-accent-border-top;
    }
    svg {
        position: relative;
        right: 10px;
        bottom: 2px;

        width: 0px;

        transition: width .2s ease-in-out;


    }
    
   
}

input[type="checkbox"] {
    @extend %visuallyhidden;
}

input[type="checkbox"] {
    &:checked+.todo-btn{
        background-color: $color-accent;
        border-color: $color-accent;
        outline: none;

        svg {
            width:15px;
            //transition: width .2s ease-in-out;
        } 

    }

    &:focus+.todo-btn {
        outline: $color-accent solid 5px;
    }
}

.btn-submit {
	@extend %button-base;
	background-color: $color-accent;
	color: $color-font;

	width: 100%;
	max-width: 400px;
	padding: 10px;

	// position: relative;
	// left: 50%;
	// transform: translate(-50%, 0);
}

.header__hire-button {
    @extend %button-base;

    font-size: 14px;
    line-height: 1;
	background-color: $color-accent;
    color: $color-font;
    
	width: 90px;
	max-width: 90px;
	padding: 8px;
}
