.nav-menu {
	position: absolute;
	left: 15px;
	top: 0;
	z-index: 9999;
	
	display: flex;
    height: 100%;
	align-items: center;
	
	

	&::before{
		content: "";
		position: absolute;
		left: 0;

		top: 50%;
		transform: translateY(-50%);
		
		width: 2px;
		height: 70%;
		
		max-height: 750px;
		
		background-color: #555;
		
		opacity: .35;
		z-index: 9999;
	
	}
	ul {
		position: relative;

		display: flex;
		width: 100px;
		height: 70%;
		max-height: 750px;

		flex-direction: column;
		justify-content: space-around;

		margin: 0;
		padding: 0;
		
		list-style-position: inside;

		li {
			font-size: 6px;

			button {
				position: relative;
				top: 3px;
				
				font-size: 14px;
				color: $color-font;

				background-color: transparent;
				border: 0;
			}

			&:before {
				content: '01';
			}
		}
	}
}