.set-bg-map {
    background: url('/src/img/map.png') top no-repeat;
    height: 100vh;
    background-size: cover;
    
}



.contacts-block {
    background-color: $color-bg;
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.75);

    font-size: 14px;

    padding: 35px 0;

    text-align: center;
    font-weight: 700;

      
}

.contacts-block__info {
    a {
        display: block;
        margin-bottom: 20px;
        
        text-decoration: none;
        color:$color-font;
        font-weight: inherit;
        &:hover{
            color: $color-font;
            text-decoration: none;
        }

    }

    .btn1 {
        @extend %button-base-contact;
        background-color: #1769ff;
        

    }

    .btn2 {
        @extend %button-base-contact;
        background-color: #ea4c89;

    }

    .btn3 {
        @extend %button-base-contact;
        background-color: #0f33ff;

        text-transform: uppercase;
        padding:14px;

    }
    

}

//DELETE

// .col-md-3 {
//     border: 1px solid red;
// }

// .contacts-block {
//     border: 1px solid yellow;
// }