.set-bg-map {
    background: url('/src/img/map.png');
    height: 100vh;
    background-size: cover;
}

.contacts-block {
	display:block;
	border: 1px solid yellow;
	width:100%;
	height:200px;
}

//DELETE

.col-md-3 {
    border: 1px solid red;
}