

input[type="checkbox"] {
	display:none;
}

input[type="checkbox"]:checked+label {
    background-color: #0f33ff;
    border-color: #0f33ff;
}


.design-wrap1 {
	@extend %design-wrap;
	max-width: 700px;
}

.design-wrap2 {
	@extend %design-wrap;
	max-width: 450px;
}

.design-wrap3 {
	@extend %design-wrap;
	max-width: 700px;

}



.input-text {
	@extend %input-base;

}

.input-email {
	@extend %input-base;
}

.btn-submit {
	@extend %button-base;
	background-color: $color-accent;
	color: $color-font;

	width: 100%;
	max-width: 400px;
	padding: 10px;

	// position: relative;
	// left: 50%;
	// transform: translate(-50%, 0);
}

.text-center {
	text-align:center;
}

.form {
	width: inherit;
}

//DELETE


.page-slider__slide {
	border: 1px solid red;
}

  .container-fluid {
  	border: 1px solid green;
  	
  }


.row {
	border: 1px solid yellow;
}


