




.design-wrap1 {
	@extend %design-wrap;
	max-width: 700px;
}

.design-wrap2 {
	@extend %design-wrap;
	max-width: 450px;
}

.design-wrap3 {
	@extend %design-wrap;
	max-width: 700px;

}



.input-text {
	@extend %input-base;

}

.input-email {
	@extend %input-base;
}

.form {
	width: inherit;
}



