




.design-wrap1 {
	@extend %design-wrap;
	max-width: 700px;
}

.design-wrap2 {
	@extend %design-wrap;
	max-width: 450px;
}

.design-wrap3 {
	@extend %design-wrap;
	max-width: 700px;

}



.input-text {
	@extend %input-base;

}

.input-email {
	@extend %input-base;
}

.form {
	width: inherit;
}

//DELETE


.page-slider__slide {
	border: 1px solid red;
}

  .container-fluid {
  	border: 1px solid green;
  	
  }


.row {
	border: 1px solid yellow;
}


