.perspective {
    width: 100%;
    height: 100%;

	.wrapper-content {
        
    	transform: perspective(0) translateZ(0) translateZ(0) translateY(0) translateX(0) rotateX(0) rotateY(0) scaleX(1);
    	transition: transform .3s linear;
        
	   }

    &.is-active {

        .wrapper-content {
            outline: 30px solid #0f33ff;
            transform: perspective(1500px) translateZ(-1700px) translateY(-1%) translateX(-38%) rotateX(0deg) rotateY(48deg) scaleX(1.1);

            .wrapper-shadow {
            	box-shadow: 0 0 45px 5px rgba(0,0,0,0.85);
            	position: relative; //выбивает тень из потока поверх остальных блоков
	
            }

        }
    }
}

