.perspective {
    width: 100%;
    height: 100%;

    &.is-active {
        perspective: 1500px;

        .wrapper-content {
            outline: 30px solid #0f33ff;
    

            transform: translateZ(-1700px) translateY(-1%) 
            translateX(-38%) rotateX(0deg) 
            rotateY(48deg) scaleX(1.1);

            .wrapper-shadow {

            	box-shadow: 0 0 45px 15px white;
            	position: relative;
			    //width: 100%;
			    //height: 100vh;
            }

        }
    }
}

