.text-title-lg{
    font-size: 68px;
    font-weight: 800;
    line-height: 1.1;
}

.text-title-md {
    font-size: 30px;
    line-height: 2.4;
    font-weight: 800;
    
    text-align: center;
    margin-bottom: 10px;
}

.text-title-sm {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.12;

    margin-bottom: 20px;
}
.text-p {
    font-size: 16px;
    line-height: 1.5;

    margin: 0;
}

