.text-title-lg{
    font-size: 82px;
    font-weight: 800;
    line-height: 1.1;
}

.text-title-sm {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.12;

    margin-bottom: 20px;
}
.text-p {
    font-size: 16px;
    line-height: 1.5;

    margin: 0;
}

