nav
  ul
    li.active 
      button(type="button") Home
    li
      button(type="button") Works
    li
      button(type="button") About
    li
      button(type="button") Contact
    li
      button(type="button") Hire us