.page-slider__slide.d-flex.align-items-center
  .container-fluid.set-max-width
    .row
      .col-md-10.offset-md-1
        .js-work-slider.work-slider
          div
          
            img(src=require("../../src/img/work1.jpg"),alt="")
          div 2
          div 3