.page-slider__slide
  .container-fluid.set-bg-map.d-flex.h-100
    .row.flex-grow-1.align-items-center
      .col-md-3.offset-md-7.p-0
        .contacts-block
          .contacts-block__info
            p Pawia 5,31-154 Kraków, Polanrd
            a(href="mailto:ouremail@gmail.com") ouremail@gmail.com
            a(href="tel:+48126287560") +48 12 628 75 60
            a(href="#").btn1 Bēhance
            a(href="#").btn2 dribbble
            a(href="#").btn3 Contact us

            
        