.page-slider__slide
  .container-fluid
    .row
      .col-md-4.offset-md-4.d-flex.align-center
        h3.todo-title You want us to do
    .row
      .col-md-8.offset-md-2.p-0.d-flex.justify-content-around
        a(href="#").todo-btn App Design
        a(href="#").todo-btn Graphic Design
        a(href="#").todo-btn Motion Design
        